[rds]
endpoint = <full-rds-endpoint from: terraform -chdir=infra/terraform output rds_address>
port_number = 3306
region_name = us-east-2
user_name = photoapp-read-write
user_pwd = <read-write-password>
db_name = photoapp

[s3]
bucket_name = photoapp-<yourname>-mbai460
region_name = us-east-2

[s3readonly]
region_name = us-east-2
aws_access_key_id = <your-access-key-id>
aws_secret_access_key = <your-secret-access-key>

[s3readwrite]
region_name = us-east-2
aws_access_key_id = <your-access-key-id>
aws_secret_access_key = <your-secret-access-key>
